<div class="detail-content-block">
<h3>Preguntas Frecuentes:</h3>
    <div class="accordion style-2">
        <div class="acc-panel">
            <div class="acc-title"><span class="acc-icon"></span>Pregunta 1</div>
            <div class="acc-body">
              <h5>metus Aenean eget massa</h5>
              <p>Mauris posuere diam at enim malesuada, ac malesuada erat auctor. Ut porta mattis tellus eu sagittis. Nunc maximus ipsum a mattis dignissim. Suspendisse id pharetra lacus, et hendrerit mi. Praesent at vestibulum tortor. Ut porta mattis tellus eu sagittis. Nunc maximus ipsum a mattis dignissim.</p>
              <div class="row">
                <div class="col-xs-12 col-sm-6">
                  <ul>
                    <li>Shopping history</li>
                    <li>Hot offers according your settings</li>
                    <li>Multi-product search</li>
                    <li>Opportunity to share with friends</li>
                    <li>User-friendly interface</li>
                  </ul>
                </div>
                <div class="col-xs-12 col-sm-6">
                  <ul>
                    <li>Shopping history</li>
                    <li>Hot offers according your settings</li>
                    <li>Multi-product search</li>
                    <li>Opportunity to share with friends</li>
                    <li>User-friendly interface</li>
                  </ul>
                </div>
              </div>
                          </div>
                      </div>
                      <div class="acc-panel">
                          <div class="acc-title"><span class="acc-icon"></span>Pregunta 2</div>
                          <div class="acc-body">
              <h5>metus Aenean eget massa</h5>
              <p>Mauris posuere diam at enim malesuada, ac malesuada erat auctor. Ut porta mattis tellus eu sagittis. Nunc maximus ipsum a mattis dignissim. Suspendisse id pharetra lacus, et hendrerit mi. Praesent at vestibulum tortor. Ut porta mattis tellus eu sagittis. Nunc maximus ipsum a mattis dignissim.</p>
              <div class="row">
                <div class="col-xs-12 col-sm-6">
                  <ul>
                    <li>Shopping history</li>
                    <li>Hot offers according your settings</li>
                    <li>Multi-product search</li>
                    <li>Opportunity to share with friends</li>
                    <li>User-friendly interface</li>
                  </ul>
                </div>
                <div class="col-xs-12 col-sm-6">
                  <ul>
                    <li>Shopping history</li>
                    <li>Hot offers according your settings</li>
                    <li>Multi-product search</li>
                    <li>Opportunity to share with friends</li>
                    <li>User-friendly interface</li>
                  </ul>
                </div>
              </div>
                          </div>
                      </div>
                      <div class="acc-panel">
                          <div class="acc-title"><span class="acc-icon"></span>Pregunta 3</div>
                          <div class="acc-body">
              <h5>metus Aenean eget massa</h5>
              <p>Mauris posuere diam at enim malesuada, ac malesuada erat auctor. Ut porta mattis tellus eu sagittis. Nunc maximus ipsum a mattis dignissim. Suspendisse id pharetra lacus, et hendrerit mi. Praesent at vestibulum tortor. Ut porta mattis tellus eu sagittis. Nunc maximus ipsum a mattis dignissim.</p>
              <div class="row">
                <div class="col-xs-12 col-sm-6">
                  <ul>
                    <li>Shopping history</li>
                    <li>Hot offers according your settings</li>
                    <li>Multi-product search</li>
                    <li>Opportunity to share with friends</li>
                    <li>User-friendly interface</li>
                  </ul>
                </div>
                <div class="col-xs-12 col-sm-6">
                  <ul>
                    <li>Shopping history</li>
                    <li>Hot offers according your settings</li>
                    <li>Multi-product search</li>
                    <li>Opportunity to share with friends</li>
                    <li>User-friendly interface</li>
                  </ul>
                </div>
              </div>
            </div>
        </div>
    </div>
</div>
