<div class="inner-banner style-6 background-block">
  <div class="vertical-align">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-8 col-md-offset-2">
            <ul class="banner-breadcrumb color-white clearfix">
              <li><a class="link-blue-2" href="/">Inicio</a> /</li>
              <li><a class="link-blue-2" href="/<%= section %>"><%= section.capitalize %></a></li>
            </ul>
            <h2 class="color-white"><%= titulo %></h2>
          </div>
      </div>
    </div>
  </div>
</div>
