<div class='list-item-entry'>
  <div class="hotel-item style-3 bg-white">
    <div class="table-view">
      <div class="radius-top cell-view">
      <% unless thumbnail.nil? %>
        <%= image_tag thumbnail.file.width(280).height(210).fit('crop').to_url %>
      <% end %>
      </div>
      <div class="title hotel-middle clearfix cell-view">
        <h4><b><%= titulo %></b></h4>
      </div>
      <div class="title hotel-right clearfix cell-view">
        <% unless descripcion.nil? %>
          <div class="hotel-person color-dark-2"><%= descripcion %></div>
        <% end %>
        <br/>
        <a class="c-button b-40 bg-blue hv-blue-o grid-hidden" href="<%= link %>" style="display:block;">Más detalles</a>
      </div>
    </div>
  </div>
</div>
