<div class="top-baner swiper-animate arrows">
	<div class="swiper-container main-slider-3 h-143" data-autoplay="0" data-loop="1" data-speed="800" data-center="0" data-slides-per-view="1">
		<div class="swiper-wrapper">
			<div class="swiper-slide active" data-val="0">
		  	<div class="clip">
				 	<div class="bg bg-bg-chrome act" style="background-image:url(/images/main_slide_1.jpg)"></div>
		  	</div>
				<div class="vertical-align">
			  	<div class="container">
						<div class="row">
				  		<div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-12 col-xs-12">
								<div class="main-title">
					  			<h1 class="color-white delay-1">¿Dónde quiere ir?</h1>
			        		<form action="#">
										<div class="input-style-1">
										  <input type="text" required="" placeholder="Enter your destination">
										</div>
										<button type="submit" class="c-button bg-dr-blue hv-transparent"><i class="fa fa-search"></i><span>Buscar</span></button>
									</form> 
				   			</div>
				  		</div>
						</div>
					</div>
		    </div>
	    </div>
		  <div class="pagination pagination-hidden poin-style-1"></div>
	  </div>		  	
  </div>
</div> 