.top-baner.swiper-animate.arrows
  .swiper-container.main-slider-3.h-143{"data-autoplay" => "0", "data-center" => "0", "data-loop" => "1", "data-slides-per-view" => "1", "data-speed" => "800"}
    .swiper-wrapper
      .swiper-slide.active{"data-val" => "0"}
        .clip
          .bg.bg-bg-chrome.act{:style => "background-image:url(/images/main_slide_1.jpg)"}
        .vertical-align
          .container
            .row
              .col-lg-8.col-lg-offset-2.col-md-8.col-md-offset-2.col-sm-12.col-xs-12
                .main-title
                  %h1.color-white.delay-1 ¿Dónde quieres ir?
                  %form{:action => "#"}
                    .input-style-1
                      %input{:placeholder => "Escribe tu destino", :required => "", :type => "text"}
                    %button.c-button.bg-dr-blue.hv-transparent{:type => "submit"}
                      %img{:alt => "", :src => ""}
                        %span Buscar
      .pagination.pagination-hidden.poin-style-1