---
layout: products
section: paquetes
---
<% dato.paquetes.select{|a| a.pais == pais}.each do |paquete| %>
  <%
  precios = Array.new
  precios = paquete.precios.collect{ |e| e.tpl }
  descripcion = "desde <span class='color-blue'>#{paquete.moneda.simbolo}#{precios.compact.min}</span> persona"
  link = "/paquetes/#{to_slug(paquete.pais)}/#{paquete.slug}.html"
  %>

  <%= partial "partials/producto", :locals => { titulo: paquete.titulo, descripcion: descripcion, link: link, thumbnail: paquete.thumbnail} %>
<% end %>
