---
title: La Empresa
---
<div class="inner-banner style-5 background-block" style="background-image: url(/images/main_slide_1.jpg);">
	<img class="center-image" src="/images/main_slide_1.jpg" alt="" style="display: none;">
	<div class="vertical-align">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-md-8 col-md-offset-2">
	  			<h2 class="color-white">La Empresa</h2>
	  			<p class="color-white-light">¿Qué es Sivetur y qué nos diferencia del resto?</p>
  			</div>
			</div>
		</div>
	</div>
</div>

<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-8 col-sm-offset-2">
				<div class="second-title">
					<h4 class="subtitle color-dr-blue-2 underline">Sivetur</h4>
					<h2>Sistema de Viajes y Excursiones Turísticas S.A</h2>
				</div>
			</div>
		</div>  	
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-6">
				<div class="simple-text">
					<p class="color-grey">SIVETUR (Sistema de Viajes y Excursiones Turísticas S.A) se constituyo un 05 de agosto de 1993 en San José Costa Rica, contamos con todos los permisos OTORGADOS POR EL I.C.T; que nos permiten operar como agencia de viajes mayorista y receptiva en el país.</p>

					<p class="color-grey">Les presentamos nuestra página web, que está elaborada con la finalidad que usted logre programar su próximo viaje, ahí encontrara paquetes especiales con salidas programas como también programas regulares con vigencia todo el año, además le ofrecemos tiquetes aéreos, hoteles, alquiler de autos, turismo nacional y mucho mas.</p>
				</div>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-6">
					<div class="simple-text">

					<p class="color-grey">El 2009 fuimos nombrados agencia autorizada para poder comercializar el producto “Tacavacaciones” en Costa Rica, lo que nos permite ofrecer mejor tarifas de nuestros paquetes así como una mayor facilidad de conseguir espacios aéreos con Taca Airlines.</p>

					<p class="color-grey">La extensa oferta de productos, el prestigio internacional así como el compromiso de todo el personal de nuestra empresa, nos permite ofrecerle responsabilidad, calidad y experiencia en la dedición que usted tomara para elegir su viaje.</p>
				</div>
			</div>
		</div>
	</div>
</div>