---
layout: layout
title: Política de privacidad
---
<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-8 col-sm-offset-2">
				<div class="second-title">
					<h4 class="subtitle color-dr-blue-2 underline">
          Política de Privacidad</h4>
				</div>
			</div>
		</div>
		<div class="row">



					<div class="simple-text">
  					<p class="color-grey"><%= dato.privacy.contenido %></p>
  				</div>

		</div>
	</div>
